@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.game {
    width: 100vw;
    height: 100vh;
    border-bottom: 30px solid #008000;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb,#e0f6ff);
}

button {
    background-color: #058905;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    padding: 2rem;
    position: absolute;
    right: 50vw;
    top: 50vh;
    cursor: pointer;
    z-index: 1;
}

button:hover {
    border: 2px solid green;
    background: none;
    color: #008000;
}

.game-over {
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0,0,322);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
}

.game-over h1 {
    font-size: 3rem;
    color: #ff0000;
    text-align: center;
    margin-top: 15rem;
}

.pipe {
    position: absolute;
    bottom: 0px;
    right: -80px;
    width: 80px;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0px;
}

.cloud {
    width: 500px;
    position: absolute;
    top: 0px;
    animation: clouds-animation 21s infinite linear;
}

@keyframes clouds-animation {
    from {
        right: -500px;
    }
    to {
        right: 100%;
    }
}

.pipe-animation {
    animation: pipe-animation 2s infinite linear;
}

@keyframes pipe-animation {
    form {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

.jump {
    animation: jump 800ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0px;
    }
    40% {
        bottom: 200px;
    }
    50% {
        bottom:200px;
    }
    60% {
        bottom: 200px;
    }
    100% {
        bottom: 0px;
    } 
}

@media screen and (min-width:600px) and (max-width:768px) {
    
}

@media screen and (min-width:768px) and (max-width:992px) {
    
}

@media screen and (min-width:992px) and (max-width:1200px) {
    
}